<section id="education" class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1 style="display:inline;">Purdue University</h1><span style="float:right"><address>West Lafayette, IN, USA</address></span><br/>	    
            <h5 style="display:inline;">M.S. in Computer Science <em style="margin-left:20px">GPA: 3.65</em></h5><span style="float:right"><time>August, 2017 to Present <br/>(Expected: May, 2019)</time></span><br/>
        </header>
        <ul>
            <li>CS 580 - Algorithm Design and Analysis</li>
            <li>CS 578 - Statistical Machine Learning</li>
        </ul>
    </article>
    <article>
        <header>
            <h1 style="display:inline;">National Institute of Technology, Tiruchirappalli</h1><span style="float:right"><address>Tiruchirappalli, India</address></span><br/>	    
            <h5 style="display:inline;">B.Tech in Computer Science and Engineering<em style="margin-left:20px">GPA: 9.19/10</em></h5><span style="float:right"><time>July, 2011 to May, 2015</time></span><br/>
        </header>
    </article>
</section>
