<section id="work-ex" class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1 style="display:inline-block">Adobe Systems</h1><span style="float:right"><address>Bangalore, India</address></span><br/>
	    <h5 style="display:inline-block">Member of Technical Staff 2</h5><span style="float:right"><time>July, 2015 to July, 2017</time></span><br/>
		Team: Adobe Captivate Prime
	    </span>		
        </header>
	<ul>
		<li>Optimized web applications to load upto 2 times faster.</li>
		<li>Implemented an efficient framework for Internationalization of web applications. Wrote a script
to automate the migration, reducing the team’s effort by 90% (3 weeks)</li>
		<li>Devised a Business Intelligence metric to analyze Feature Discovery with data from Adobe Captivate.</li>
		<li>Developed key features like Automated Enrollment of users, Learner Interface, Fluidic Content
Player and Branding of the product.</li>
	</ul>
    </article>
    <article>
        <header>
            <h1 style="display:inline-block">JPMorgan Chase & Co.</h1><span style="float:right"><address>Hyderabad, India</address></span><br/>
	    <h5 style="display:inline-block">Technology Analyst Intern</h5><span style="float:right"><time>May to July, 2014</time></span><br/>
	    </span>		
        </header>
	<ul>
		<li>Developed a Java Application to process job dependencies and generate run-books.</li>
		<li>Worked with Teradata & Control-M as a part of the task to schedule and run jobs.</li>
		<li>Skillset used includes Java, Swing, VB Script.</li>
	</ul>
    </article>
    <article>
        <header>
            <h1 style="display:inline-block">Purdue University</h1><span style="float:right"><address>West Lafayette, IN, USA</address></span><br/>
	    <h5 style="display:inline-block">Graduate Research Assistant</h5><span style="float:right"><time>August, 2017 to Present</time></span><br/>
	    </span>		
        </header>
    </article>
</section>
