<section id="projects" class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1 style="display:inline-block">Centrality in a Social Network</h1>
            <span style="float:right">C++, Python, Machine Learning</span>
        </header>
        <p>
            Solves the problem of finding an optimal set of target nodes in a network (SNAP Facebook dataset) to
ensure maximal message spread with fewer hops. It works by learning clusters of nodes based on their
attributes and their connections to other nodes
        </p>
    </article>
    <article>
        <header>
            <h1 style="display:inline-block"><a href="https://github.com/hsemarap/winning_team" target="_blank">Winning Team &nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></h1>
            <span style="float:right">Python, Matlab, Machine Learning</span>
        </header>
        <p>
            Given two cricket teams with their past statistics, can we predict their match performance ? It uses
various machine learning techniques like feature selection, cross validation etc and classifiers like SVM,
Logistic Regression, Ensemble classfier to predict match performance with datasets from IPL, BBL and
achieves a better accuracy than betting industry benchmarks.
        </p>
    </article>
    <article>
        <header>
            <h1 style="display:inline-block">Policy based Resource allocation in Iaas cloud</h1>
        </header>
        <p>
            A resource allocation algorithm that uses swapping and backfilling techniques to improve average
resource utilization and reduce lease rejection in Haizea, a lease based resource manager.
        </p>
    </article>
    <article>
        <header>
            <h1 style="display:inline-block">National Institute of Technology, Tiruchirappalli Website</h1>
            <span style="float:right">Javascript, PHP, MySQL, HTML, CSS</span>
        </header>
        <p>
            Designed and developed modules for Pragyan CMS, the Content Management System that runs the
official website of the institute. Also developed the front-end user interface of the website
        </p>
    </article>
</section>
