<section id="achievements" class="thirteen columns">
    <h1>Achievements and other activities</h1>
    <article>
        <ul>
		<li>Selected for Indian regionals in ACM International Collegiate Programming Contest (ICPC).</li>
		<li>Finalist in Debugging and onsite programming contests in Abacus ’14, CEG, Anna University.</li>
		<li>Worked on several institute projects as a Web Developer at Delta, the Programming club and
web-team of NIT Trichy.</li>
		<li>Head, Computer Support Group, Vortex’15, Technical symposium of CSE, NIT Trichy</li>
		<li>Mentored a group of school children to build a mobile application for the Technovation Challenge.</li>
	</ul>
    </article>
</section>
